<% if images.any? %>
  <div class="container">
    <div class="flex-container justify-content-center flex-md-wrap">
      <% images.each do |image| %>
        <%= link_to image_tag(image.variable? ? image.variant(resize_to_limit: [250, nil]) : image), 
                url_for(image), class: "img-thumbnail rounded", target: '_blank' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row text-center text-muted ">
    <p>No images</p>
  </div>
<% end %>