<% if object.images.any? %>
  <div class="container">
    <div class="flex-container justify-content-center flex-md-wrap">
      <% object.images.each do |image| %>
        <%= link_to image_tag(image.variant(:thumb), width: '250px'), url_for(image), class: "img-thumbnail rounded", target: '_blank' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row text-center text-muted ">
    <p>No images</p>
  </div>
<% end %>