<% currently_at 'Home' %>
<h1>Тестовое задание</h1>
<p class="lead">
  Обязательный стек: Ruby 2.6+, Rails 6+, PostgreSQL, контейнеризация (опционально), фоновые задачи
</p>
<p class="lead">
  <h3>Описание:</h3>
  <p class="lead">	Реализовать сервис написания постов пользователями с привязкой к регионам России. 
  </p>
  <p class="lead">К постам сделать возможность прикладывания изображений и файлов (разделить при при отображении). Все посты должны иметь 4 состояния: черновик, на проверке, утвержден, отклонен. Изменение состояния постов фоновыми задачами.</p>
  <p class="lead">	Все пользователи должны быть разделены на 2 группы:
    <ul class="lead">
      <li>обычные пользователи — могут писать посты в свой регион, сохранять их как черновик, удалять свои посты (только в состоянии черновик), либо отправлять на проверку админам;</li>
      <li>администраторы — могут писать посты (сразу утвержденные) в любой регион, утверждать/отклонять посты других юзеров. Видят только посты в состоянии на проверке.</li>
    </ul>
  </p>
  <p class="lead">	Реализовать простую форму регистрации пользователей по логину/паролю. При создании пользователей заполнять поля ФИО, регион. Для обычных пользователей регион обязателен, для администраторов — нет. Админ должен быть внесен в БД изначально. В дальнейшем только админы могут добавлять других администраторов.
  </p>
  <p class="lead">Сделать фильтр по регионам, авторам, дате/интервале размещения при просмотре списка постов.</p>
  <p class="lead">Обеспечить возможность формировать отчет в виде xlsx файла на основе действующих фильтров, с указанием региона, текста поста, автора, ссылок на изображения/файлы (если таковые присутствуют), даты/времени размещения поста (присваивается при утверждении).
  </p>
  <p class="lead">Интерфейс на усмотрение автора.</p>