

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4"><%= @post.title %></h1>
       <p><%= content_tag(:span, @post.status, class: "badge rounded-pill text-bg-warning") %> </p>
      <p class="lead"><%= @post.content %></p>
    </div>
  </div>